/* Main --------------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* First side of the web app ------------------------------------------------------------------------------------ */

#firstSide {
    background-color: #1c1e20;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.content > img {
    height: 30px;
    width: 30px;
    box-shadow: 0 0 5px black;
    border-radius: 100%;
    cursor: pointer;
    margin-bottom: 20px;
}

.content {
    margin: 6vw;
}

.content > p {
    font-size: 20px;
    margin: 0;
    text-shadow: 0 0 3px black;
}

.content > h3 {
    font-size: 35px;
    margin: 15px 0 30px 0;
    max-width: 450px;
    text-shadow: 0 0 3px black;
}

#block {
    display: block;
}

.content > #block > a {
    border: 2px solid #ffffff;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
    padding: 15px 20px;
    display: inline-block;
    transition: .3s all ease-in-out;
    box-shadow: 0 0 5px black;
}

.content > #block > a:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #1c1e20;
}

/* Switcher between dark and light mode ------------------------------------------------------------------------------------ */

#switcher {
    position: absolute;
    right: 5vw;
    top: 40px;
    background-color: #ffffff;
    height: 30px;
    width: 60px;
    border-radius: 30px;
    box-shadow: 0 0 7px black;
}

#roundButton {
    position: absolute;
    left: 0;
    cursor: pointer;
    background-color: #1c1e20;
    height: 100%;
    width: 30px;
    border-radius: 30px;
    border: 3px solid #ffffff;
    transition: .2s all ease-in-out;
}

/* Global corona info --------------------------------------------------------------------------------------------------- */

#time {
    text-align: center;
    background-color: #2c2f31;
    color: white;
    margin: 0;
    padding: 30px;
}

#globalInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    box-shadow: 0 0 3px black;
    gap: 1px;
    background-color: #646464;
}

#globalInfo > div {
    height: 17vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1c1e20;
}

#globalInfo > div > p {
    margin: 0;
    color: #a5a5a5;
    text-shadow: 0 0 2px black;
}

#globalInfo > div > h3 {
    background-color: #282a2c;
    color: #a5a5a5;
    padding: 15px;
    border-radius: 2px;
    margin: 20px 0 0 0;
    box-shadow: 0 0 1px black;
}

@media screen and (max-width: 1100px) {
    #globalInfo {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #globalInfo > div {
        height: 200px;
    }
}

@media screen and (max-width: 900px) {
    #globalInfo {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 300px) {
    #globalInfo {
        grid-template-columns: 1fr;
    }
}

/* Input-container --------------------------------------------------------------------------------------------------- */

#inputContainer {
    padding: 100px 6vw;
    background-color: #141516;
}

#inputContainer > div {
    position: relative;
    max-width: 350px;
}

input {
    position: relative;
    outline: none;
    border: none;
    padding: 15px 20px;
    margin: 0;
    border-radius: 1px;
    width: 350px;
    font-size: 14px;
    border-bottom: 4px solid #1c1e2077;
    color: #a5a5a5;
    background-color: #1c1e20;
    box-shadow: 0 0 4px black;
}

#borderBottomEffect {
    background-color: #212427;
    transition: .5s all ease-in-out;
    width: 0;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
}

button {
    position: absolute;
    margin: auto;
    top: 44%;
    transform: translateY(-44%);
    right: 5px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s all ease-in-out;
    color: #9b9b9b;
    background-color: transparent;
}

.fa-check-square {
    color: rgb(24, 170, 24);
    margin-top: 2px;
}

/* The responsive part ---------------------------------------------------------------------------------------------- */

@media screen and (max-width: 700px) {
    #firstSide {
        height: auto;
        border-left: 0;
    }
    .content {
        margin: 60px 40px;
    }
    .content > h3 {
        font-size: 30px;
        max-width: 400px;
    }
    #switcher {
        right: 40px;
        top: 30px;
    }
    #inputContainer {
        padding: 60px 40px;
    }
}

@media screen and (max-width: 430px) {
    #inputContainer > div, input {
        width: 100%;
    }
}

/* Generated country-elements from dropdown ---------------------------------------------------------------------------------- */

#countryList {
    height: 180px;
    overflow: scroll;
    background-color: #232527;
}

#countryList > .countryBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #232527;
    color: #a5a5a5;
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #646464;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

#countryList > .countryBox:hover {
    background-color: #181a1b;
    color: white;
}

#countryList > .countryBox > p {
    margin: 0 0 0 10px;
}

#countryList > .countryBox > img {
    width: 27px;
    height: 27px;
}

/* Country Information Generated ------------------------------------------------------------------------------------------ */

#countryInfo {
    padding: 100px 6vw;
    background-color: #0f1011;
    color: #a5a5a5;
}

#countryInfo > h1 {
    max-width: 600px;
    padding-bottom: 7px;
    border-bottom: 1px solid #a5a5a5;
    margin: 0 0 15px 0;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    background-color: #424242;
    text-align: center;
    max-width: 600px;
    box-shadow: 0 0 3px black;
    margin-bottom: 70px;
}

.table > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151618;
    padding: 15px;
}

.table > div > img {
    height: 35px;
    width: 35px;
}

@media screen and (max-width: 700px) {
    #countryInfo {
        padding: 60px 40px;
    }

    #countryInfo div:last-child {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'countryName total'
            'confirmed confirmedTotal'
            'deaths deathsTotal'
            'recovered recoveredTotal'
            'active activeTotal'
    }
    .table {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'countryName total new'
            'confirmed confirmedTotal confirmedNew'
            'deaths deathsTotal deathsNew'
            'recovered recoveredTotal recoveredNew'
            'active activeTotal activeNew'
    }
    .table > div:nth-child(1) {
        grid-area: countryName;
    }
    .table > div:nth-child(2) {
        grid-area: confirmed;
    }
    .table > div:nth-child(3) {
        grid-area: deaths;
    }
    .table > div:nth-child(4) {
        grid-area: recovered;
    }
    .table > div:nth-child(5) {
        grid-area: active;
    }
    .table > div:nth-child(6) {
        grid-area: total;
    }
    .table > div:nth-child(7) {
        grid-area: confirmedTotal;
    }
    .table > div:nth-child(8) {
        grid-area: deathsTotal;
    }
    .table > div:nth-child(9) {
        grid-area: recoveredTotal;
    }
    .table > div:nth-child(10) {
        grid-area: activeTotal;
    }
    .table > div:nth-child(11) {
        grid-area: new;
    }
    .table > div:nth-child(12) {
        grid-area: confirmedNew;
    }
    .table > div:nth-child(13) {
        grid-area: deathsNew;
    }
    .table > div:nth-child(14) {
        grid-area: recoveredNew;
    }
    .table > div:nth-child(15) {
        grid-area: activeNew;
    }
}