@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#firstSide {
    background-color: #1c1e20;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.content > img {
    height: 30px;
    width: 30px;
    box-shadow: 0 0 5px black;
    border-radius: 100%;
    cursor: pointer;
    margin-bottom: 20px;
}

.content {
    margin: 6vw;
}

.content > p {
    font-size: 20px;
    margin: 0;
    text-shadow: 0 0 3px black;
}

.content > h3 {
    font-size: 35px;
    margin: 15px 0 30px 0;
    max-width: 450px;
    text-shadow: 0 0 3px black;
}

#block {
    display: block;
}

.content > #block > a {
    border: 2px solid #ffffff;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
    padding: 15px 20px;
    display: inline-block;
    transition: .3s all ease-in-out;
    box-shadow: 0 0 5px black;
}

.content > #block > a:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #1c1e20;
}

@media screen and (max-width: 700px) {
    #firstSide {
        height: auto;
        border-left: 0;
    }
    .content {
        margin: 60px 40px;
    }
}


/* Switcher between dark and light mode */

#switcher {
    position: absolute;
    right: 5vw;
    top: 40px;
    background-color: #ffffff;
    height: 30px;
    width: 60px;
    border-radius: 30px;
    box-shadow: 0 0 7px black;
}

#roundButton {
    position: absolute;
    left: 0;
    cursor: pointer;
    background-color: #1c1e20;
    height: 100%;
    width: 30px;
    border-radius: 30px;
    border: 3px solid #ffffff;
    transition: .2s all ease-in-out;
}

@media screen and (max-width: 700px) {
    #switcher {
        right: 40px;
        top: 30px;
    }
}