/* Main --------------------------------------------------------------------------------------------------------- */

body {
    background-color: #ffffff;
}

/* First side of the web app ------------------------------------------------------------------------------------ */

#firstSide {
    background-color: #ffffff;
    color: #1c1e20;
}

.content > img {
    box-shadow: none;
}

.content > p {
    text-shadow: none;
}

.content > h3 {
    text-shadow: none;
}

.content > #block > a {
    border: 2px solid #1c1e20;
    color: #1c1e20;
    box-shadow: none;
}

.content > #block > a:hover {
    background-color: #1c1e20;
    border: 2px solid #1c1e20;
    color: #ffffff;
}

/* Switcher between dark and light mode ------------------------------------------------------------------------------------ */

#switcher {
    background-color: #1c1e20;
    box-shadow: none;
}

#roundButton {
    background-color: #ffffff;
    border: 3px solid #1c1e20;
}

/* Global corona info --------------------------------------------------------------------------------------------------- */

#globalInfo {
    box-shadow: none;
    background-color: rgb(231, 231, 231);
}

#globalInfo > div {
    background-color: white;
}

#globalInfo > div > p {
    color: #979797;
    text-shadow: none;
}

#globalInfo > div > h3 {
    background-color: #e7e7e7;
    color: #979797;
    box-shadow: none;
}

/* Input-container --------------------------------------------------------------------------------------------------- */

#inputContainer {
    background-color: #e4e4e4;
}

input {
    border-bottom: 4px solid #c5c5c5;
    color: #7c7c7c;
    box-shadow: none;
    background-color: white;
}

#borderBottomEffect {
    background-color: #7c7c7c;
}

.fa-check-square {
    color: #40d340;
    margin-top: 2px;
}

/* Generated country-elements from dropdown ---------------------------------------------------------------------------------- */

#countryList {
    background-color: #f3f3f3;
    box-shadow: 0 0 1px #bdbdbd;
}

#countryList > .countryBox {
    background-color: #f3f3f3;
    color: #646464;
    border-bottom: 1px solid #a5a5a5;
}

#countryList > .countryBox:hover {
    background-color: #d6d6d6;
    color: #1c1e20;
}

/* If several provinces  ----------------------------------------------------------------------------------------------- */

#provinceChooser {
    background-color: #f0f0f0;
}

#provinceChooser > h2 {
    color: #6e6e6e;
    background-color: #f0f0f0;
}

#provinceChooser > div > p {
    color: #6e6e6e;
    background-color: #f0f0f0;
}

#provinceChooser > div > p:hover {
    color: black;
}

/* Country Information Generated ------------------------------------------------------------------------------------------ */

#countryInfo {
    background-color: #fcfcfc;
    color: #9b9b9b;
}

#countryInfo > h2 {
    background-color: #f8f8f8;
    color: #9c9c9c;
    border-bottom: 2px solid #a5a5a5;
    box-shadow: none;
}

.table {
    background-color: #e0e0e0;
    box-shadow: 0 0 5px #cfcfcf;
}

.table > div {
    background-color: #ffffff;
}